<?xml version="1.0"?>

<model>
  <name>robot_model_teleop_3</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>KD</name>
    <email>kevidenm@ensea.fr</email>
  </author>

  <description>
    A simple robot model with teleop. Swarm-simulation purpose numbered robot.
  </description>
</model>
