<?xml version="1.0"?>
<model>
  <name>Fisheye Camera</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Kevin Denamganai</name>
    <email>denamganai.kevin@gmail.com</email>
  </author>
  <description>
    A simple fish-eye camera with a box for visualization.
  </description>
</model>
