<launch>
	<!-- declaration of arguments -->
	<arg name="robot_number" default="0" doc="Number of the robot we want to launch."/>
	<arg name="debugObstacles" default="0" doc="Verbose Debugging for OPUSim_Obstacles."/>
	<arg name="debugRSO" default="0" doc="Verbose Debugging for OPUSim_RelativeSwarmOdometry."/>
	
	<arg name="emergencyBreak" default="0" doc="Everything will be launched except that the cmd_vel-related topic is publishing 0."/>
	<arg name="tresholdDistAccount" default="1.2" doc="Treshold for the distance of obstacles that we take into account for obstacle avoidance."/>
	<arg name="a" default="1.0" doc="coefficient : negative when N lesser than 2."/>
	<arg name="kv" default="0.1" doc="coefficient to the radial velocity : negative when N lesser than 2."/>
	<arg name="kw" default="0.2" doc="coefficient to the agular velocity : negative when Omega is negative."/>
	<arg name="kR" default="10.0" doc="coefficient to the radius update control law."/>
	<arg name="R" default="2.0" doc="desired radius of the trajectory circle."/>
	<arg name="epsilon" default="1.0" doc="coupling strength : negative when N lesser or equal to 2."/>
	<arg name="Omega" default="2.0" doc="natural frequency."/>
	
	<arg name="Plin" default="0.1" doc="P coefficient linear velocity."/>
	<arg name="Ilin" default="0.0" doc="I coefficient linear velocity."/>
	<arg name="Pang" default="1.0" doc="P coefficient angular velocity."/>
	<arg name="Iang" default="0.0" doc="I coefficient angular velocity."/>
	
	
	<node pkg="OPUSim" type="OPUSim_OmniView" name="OPUSim_OmniView_$(arg robot_number)" args="$(arg robot_number)" respawn="true">
		<rosparam param="robot_number" subst_value="True">$(arg robot_number)</rosparam>
	</node>
	
	<!--
	<node pkg="OPUSim" type="OPUSim_Obstacles" name="OPUSim_Obstacles_$(arg robot_number)" args="$(arg robot_number)" launch-prefix="xterm -e gdb double hyphenargs" respawn="false">
	-->
	<node pkg="OPUSim" type="OPUSim_Obstacles" name="OPUSim_Obstacles_$(arg robot_number)" args="$(arg robot_number)" respawn="true">
		
		<rosparam param="robot_number" subst_value="True">$(arg robot_number)</rosparam> 
		<rosparam param="debug" subst_value="True">$(arg debugObstacles)</rosparam> 
	</node>
	
	<!--
	<node pkg="OPUSim" type="OPUSim_RelativeSwarmOdometry" name="OPUSim_RelativeSwarmOdometry_$(arg robot_number)" args="$(arg robot_number)" launch-prefix="xterm -e gdb double hyphen args" respawn="false">
	-->
	<!---->
	<node pkg="OPUSim" type="OPUSim_RelativeSwarmOdometry" name="OPUSim_RelativeSwarmOdometry_$(arg robot_number)" args="$(arg robot_number)" respawn="true">
	<!---->
		<rosparam param="robot_number" subst_value="True">$(arg robot_number)</rosparam> 
		<rosparam param="debug" subst_value="True">$(arg debugRSO)</rosparam> 
	</node>
	
	<!--
	<node pkg="OPUSim" type="OPUSim_ControlLaw" name="OPUSim_ControlLaw_$(arg robot_number)" args="$(arg robot_number)" launch-prefix="xterm -e gdb db args" respawn="false">
	-->
	<!---->
	<node pkg="OPUSim" type="OPUSim_ControlLaw" name="OPUSim_ControlLaw_$(arg robot_number)" args="$(arg robot_number)" respawn="true">
	
		<rosparam param="robot_number" subst_value="True">$(arg robot_number)</rosparam>
		<rosparam param="emergencyBreak" subst_value="True">$(arg emergencyBreak)</rosparam>
		<rosparam param="tresholdDistAccount" subst_value="True">$(arg tresholdDistAccount)</rosparam>
		<rosparam param="R" subst_value="True">$(arg R)</rosparam>
		<rosparam param="a" subst_value="True">$(arg a)</rosparam>
		<rosparam param="kv" subst_value="True">$(arg kv)</rosparam>
		<rosparam param="kw" subst_value="True">$(arg kw)</rosparam>
		<rosparam param="kR" subst_value="True">$(arg kR)</rosparam>
		<rosparam param="epsilon" subst_value="True">$(arg epsilon)</rosparam>
		<rosparam param="Omega" subst_value="True">$(arg Omega)</rosparam>
		<rosparam param="Plin" subst_value="True">$(arg Plin)</rosparam>
		<rosparam param="Ilin" subst_value="True">$(arg Ilin)</rosparam>
		<rosparam param="Pang" subst_value="True">$(arg Pang)</rosparam>
		<rosparam param="Iang" subst_value="True">$(arg Iang)</rosparam>
	</node>
	<!---->
	
</launch>
