<launch>
  <arg name="world_file"  default="$(find OPUSim)/launch/worlds/empty.world"/>
	<arg name="gui" default="true"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  
  <!-- Spawn a model into Gazebo -->
	<node name="spawn_target" pkg="gazebo_ros" type="spawn_model" args="-file $(find OPUSim)/models/target_model/model.sdf -sdf -z 0 -x 0 -y 0 -model target_model" />
	
</launch>
